mat-toolbar {
  background: rgb(1, 52, 207);
  color: #fff;
}
mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  border-radius: 10px;
  background: rgb(0, 30, 121);
  color: #fff;
  text-align: center;
  padding: 16px;
}

mat-sidenav-container{
    height: calc(100vh - 65px);
}

.menu-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
}
.menu-button mat-icon{
    margin-right: 8px;
}

.avatar{
    width: 100px;
    border-radius: 50%;
}
mat-divider{
background-color: #fff;
margin: 16px 0;
}
.name{
    font-weight: 500;
    margin-top: 8px;
}
.designation{
    font-size: .8rem;
}
/* =========================== */
.content{
  margin: 16px;
    margin-left: 32px;
    padding: 16px;
    border-radius: 10px;
}
.dialogs{
    margin-top: 1.5rem;
    margin-left: 32px;
}